@page
@model IndexModel
@{
    ViewData["Title"] = "Adnan's Blog";
}

<div class="text-center">
    <h1 class="display-4">Welcome noobs</h1>
    <p>Learn about <a href="https://docs.microsoft.com/azure">building CICD pipeline on Azure devops</a>.</p>
</div>
